@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -180px; /* Ajuste para dar mais espaço em telas menores */
  padding: 0 10px; /* Ajuste de padding para centralizar conteúdo */
}

footer {
  margin: 20px 0;
  text-align: center;
  font-size: 16px; /* Reduz o tamanho da fonte no rodapé em telas menores */
}


/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
  .lists {
      margin-top: -150px;
      padding: 0 5px;
  }

  footer {
      font-size: 14px; /* Fonte menor para rodapé em dispositivos móveis */
  }
}
