.MV {
    margin: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.MV h2 {
    margin: 0px 0px 0px 30px;
    font-size: 30px;
}

.MV--listarea {
    overflow-x: auto; /* Permitir rolagem horizontal */
    overflow-y: hidden; /* Impedir rolagem vertical */
    white-space: nowrap; /* Impedir quebra de linha dos itens */
    padding-left: 0px;
}

.MV--list {
    display: inline-flex; /* Utilizar flexbox para alinhar itens horizontalmente */
    width: auto;
    padding-left: 20px;
    padding-top: 0px;
    color: #999;
}

.MV--item {
    display: inline-block; /* Garantir que os itens estejam alinhados em uma linha */
    width: 150px; /* Ajuste conforme necessário */
    height: 230px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #fff;
}



.MV--item img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Garante que a imagem preencha o contêiner */
    transform: scale(0.9);
    transition: all ease 0.2s;
}


.MV--item img:hover {
    transform: scale(1);
}
@media (max-width: 1024px) {
    .MV--item {
        width: 120px; /* Reduzir o tamanho dos itens para caber na tela */
        height: 180px;
    }
}

@media (max-width: 768px) {
    .MV--listarea {
        padding-left: 0px;
    }

    .MV--item {
        width: 100px;
        height: 150px;
    }
}


body {
    overflow-x: hidden;
}
