/* Ajustes Gerais */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Para evitar rolagem horizontal desnecessária */
}

/* Responsividade para elementos da classe MV */
.MV {
    margin: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    position: relative;
    width: 100%;
}

.MV h2 {
    margin: 10px 0px 10px 15px;
    font-size: 24px; /* Ajuste do tamanho da fonte para dispositivos móveis */
}

.MV--listarea {
    overflow-x: scroll; /* Permitir rolagem horizontal */
    padding-left: 0px;
    position: relative;
}

.MV--item {
    display: inline-block;
    width: 120px; /* Ajuste na largura das capas dos livros para caber mais na tela */
    height: 180px; /* Ajuste na altura para manter proporção */
    cursor: pointer;
    margin-right: 5px; /* Espaçamento reduzido entre os itens */
    background-color: #fff;
}

.MV--list {
    display: inline-flex;
    padding-left: 10px;
    padding-top: 0px;
    color: #999;
    scroll-behavior: smooth;
}

.MV--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.MV--item img:hover {
    transform: scale(1);
}

/* Ajustes para botões de navegação em dispositivos móveis */
.MV--left, .MV--right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.MV:hover .MV--left, .MV:hover .MV--right {
    opacity: 1;
}

.MV--left {
    left: 5px; /* Reduzido para caber melhor em telas pequenas */
}

.MV--right {
    right: 5px; /* Reduzido para caber melhor em telas pequenas */
}

.MV--left img, .MV--right img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    .MV h2 {
        font-size: 20px; /* Reduz o tamanho da fonte em telas menores */
    }

    .MV--item {
        width: 100px; /* Ajuste na largura das capas dos livros para telas menores */
        height: 150px; /* Ajuste na altura para telas menores */
    }

    .MV--left, .MV--right {
        width: 25px;
        height: 25px;
    }

    .MV--left img, .MV--right img {
        width: 15px;
        height: 15px;
    }
}
