/* ReadBook.css */

header {
    display: none !important;
}

.pdf-viewer-container {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative; /* Mantém o contexto de empilhamento para controles */
}

.pdf-viewer-container .doc-viewer {
    width: 100%;
    height: auto;
    max-width: 794px;  /* A4 width */
    max-height: 1122px; /* A4 height */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.logo-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
}

.logo-icon {
    width: 50px; /* Tamanho do ícone Logos */
    height: auto;
}

/* Garantir que os controles do DocViewer estejam visíveis e clicáveis */
.react-doc-viewer-header {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1001; /* Garante que os controles estejam acima de outros elementos */
    pointer-events: auto; /* Garante que os controles sejam clicáveis */
}

/* Responsividade */
@media only screen and (max-width: 768px) {
    .pdf-viewer-container {
        padding-top: 10px;
        overflow-y: auto;
    }

    .logo-container {
        top: 5px;
        left: 5px;
    }

    .logo-icon {
        width: 40px;
    }

    .react-doc-viewer-header {
        top: 5px;
        right: 5px;
    }
}
